.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .red {
    background-color: #ff726f;
    color: #fff;
  }
  
  .yellow {
    background-color: #ffd166;
    color: #333;
  }
  
  .orange {
    background-color: #ffa07a;
    color: #fff;
  }
  
  .green {
    background-color: #4caf50;
    color: #fff;
  }
  
  .blue {
    background-color: #3498db;
    color: #fff;
  }
  