/* TwoColumnLayout.css */
.two-column-layout {
    display: flex;
    width: 100%;
    // margin: 20px 0 0 0;
  }
  
  .left-column {
    flex: 0 0 30%;
    padding: 20px;
  }
  
  .right-column {
    flex: 0 0 70%;
    padding: 20px;
  }
  