/* _variables.scss */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

$font-family: 'Montserrat', sans-serif;

/* Cores */
$laranja1: #EF5223;
$azul1: #0C2635;
$branco: #fff;
$preto: #000;
$grey1: #f1f4f9;
$grey2: #f6f6f6;

/* Tamanhos de fonte */
$font-p: 16px;
$font-h1: 3em;

/* Espaçamentos */
$espacamento-padrao: 10px;
$espacamento-botao: 20px;

/* Margens e Preenchimentos */
$margem-padrao: 10px;
$preenchimento-padrao: 10px;

/* Bordas */
$largura-borda: 1px;
$cor-borda: #ccc;
