// frontend/src/components/SideNav.scss
@import '../../assets/scss/colors';
.sidenav {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 80px;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 32px 32px -12px rgba(46, 44, 46, 0.325);
  color: #fff;
  overflow-x: hidden;
  padding: 20px 15px;
  transition: 0.5s;
  .header-sidenav{
    img{
      width: 100%;
    }
  }
}
